*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
   
}

/* parent div container which having div user*/
#first{ 
    height: 100vh;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    gap: 30px;
    
}
/*  */
.user{
    width: 150px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(203, 105, 105);
    border-radius: 10px;
    transition: all 1s ease ;
    
}
.user:hover{
    transform:scale(1.2)
}

img{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;

}
a{
    text-decoration: none;
    
}
h2{
    font-size: 20px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

